<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div id="main-wrapper">
  <div id="titlebar">Jessie &amp; Jordan</div>
  <%= yield %>
  q<%= debug(params) if Rails.env.development? %>
  <div id="underdev"><p>This website is still under development! Check back later to make a username, RSVP, and check out other wedding information!</p></div>
  <div id="navigation">
    <%= link_to "our story", story_path %>
    <%= link_to "the engagement", engagement_path %>
    <%= link_to "user login", userlog_path %>
    <%= link_to "wedding party", weddingparty_path %>
    <%= link_to "travel information", travel_path %>
    <!--%= link_to "wedding schedule",   '#' %-->
    <!--%= link_to "registry",           '#' %-->
  </div>

</div><!--from main wrapper>


</body>
</html>
